
body{
	 font-family: 'Roboto', sans-serif;
    background-color: #f3f3f3;
    color: aliceblue;
}

.container{
	margin-top: 4.5%;
}

    
 .btn-primary{
	color: white;
    margin-top: 25px; 
    border-radius: 12px;
    background-color:#000440;
    border: none;
    
}

.btn-primary:hover{
    background-image: linear-gradient(to left,#F3B507,#DB8F02,#F3CA06);
}

.btn-primary a{
	text-decoration: none;
	color: white;
}
.btn-secondary{background-color:#000440;}
.icons{
  width: 20px;
  margin: 8px;
}
.fa-trash{color:#961F00;}
.fa-edit{text-align: initial; 	color: #000440;	}
.modal{
	color: black;
}

.btn1{
	 background-color: transparent;
border: none
}


h1{
    margin-top: 70px;
    font-size: 25px;
    background-color: #000440;
    color: #fff;
    height: 50px;
    width: 100wp;
    padding: 15px;
}