/*Barra de navega��o*/

body{
	 font-family: 'Roboto', sans-serif;
    background-color: #F5F5F5;
    color: aliceblue;
}

.container{
	margin-top: 10%;
}

.btn-primary{
	color: white;
    margin-top: 25px; 
    border-radius: 12px;
    background-color:#000440;
    border: none;
    
}

.btn-primary:hover{
    background-image: linear-gradient(to left,#F3B507,#DB8F02,#F3CA06);
}

.btn-primary a{
	text-decoration: none;
	color: white;
}
.fa-trash-alt{
	color: black;
}
.modal{
	color: black;
}

.btn1{
	 background-color: transparent;
border: none
}

.fa-edit#inome{
	text-align: initial
	}
.btn-light{
    background-color: #F3CA06;
    color:#ffffff;
    border-style: none;
}   
.dark {
    background: linear-gradient(236.85deg, #0f1216 27.26%, #192027 96.03%);
}
.dark main{
    font-family: 'Roboto', sans-serif;
    color:#ffffff
        
}

.dark .tema button {
   color: #ffffff;
   background: #1c1c1c;
   border-style: none;
   }
      