body{
    font-family: 'Roboto', sans-serif;
   background-color: #F5F5F5;
   
}

.container{
   margin-top: 60px;
   width:90%;
}
h1{
    bottom: -1%;
    font-size: 25px;
    background-color: #000440;
    color: #fff;
    height: 50px;
    width: 100%;
    padding: 8px;
    position: absolute;
    
}
fieldset{
    box-sizing: border-box;
    z-index: 1;
}



.fa-envelope{
color: #000440;
}
.fa-times{color: #000440;}
.fa-check{color: #000440;}
.fa-share{color: #000440;}
.fa-archive{color: #000440;}
.fa-folder-open{color: #000440;}


table {
width:500px;
table-layout:fixed;
margin-top: 1.5%;
}


td {
word-wrap:break-word;
}
.btn1{
	 background-color: transparent;
border: none
}
a{color: #000440;}

.table thead th { 
  background-color: #000440;
  color: white;
}
	
}